.filters-block {
  width: 400px;
  min-height: calc(100vh - 70px - 70px);
  position: relative;
  padding: 1rem;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.7);
}

.close-filter-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/img/Header/close_burger_menu.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
}
.filters {
  width: 100%;
}

.filters__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.filters__btn {
  padding: 0.5rem 2rem;
}

.filter {
  position: sticky;
  top: 0;
  z-index: 2000;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-show {
    left:0 !important;
}

@media (max-width: 900px) {

  .filter {
    position: fixed;
    left: -800px;
    z-index: 2000;
    background-color: #fff;
    transition: left 1s;
  }

  .close-filter-button {
    display: block;
  }

}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5px;
  padding: 5px;
}

.display-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 0;
  border: none;
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0;
  border: none;
}

.search {
  width: 45%
}

.select {
  width: 45%
}

.category {
  width: 100%;
  height: 30vh;
  padding: 0;
  border: none;
  margin-top: 1rem;
  overflow-y: scroll;
}

.brand {
  height: 30vh;
  width: 100%;
  padding: 0;
  border: none;
  margin-top: 1rem;
  overflow-y: scroll;
}

.price {
  display: flex;
  width: 100%;
  padding: 0;
  border: none;
  margin-top: 1rem;
}

.stock {
  display: flex;
  width: 100%;
  padding: 0;
  border: none;
  margin-top: 1rem;
}

.limits {
  width: 50%;
  text-align: center;

}

.found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-line__label {
  cursor: pointer;
}

/*
.##.....##.##.....##.##.......########.####.........########.....###....##....##..######...########
.###...###.##.....##.##..........##.....##..........##.....##...##.##...###...##.##....##..##......
.####.####.##.....##.##..........##.....##..........##.....##..##...##..####..##.##........##......
.##.###.##.##.....##.##..........##.....##..#######.########..##.....##.##.##.##.##...####.######..
.##.....##.##.....##.##..........##.....##..........##...##...#########.##..####.##....##..##......
.##.....##.##.....##.##..........##.....##..........##....##..##.....##.##...###.##....##..##......
.##.....##..#######..########....##....####.........##.....##.##.....##.##....##..######...########
*/

.range-slider {
  width: 90%;
  margin: 5px;
  text-align: center;
  position: relative;
  height: 4.2em;
}

.range-slider input[type=range] {
  position: absolute;
  left: 15px;
  bottom: 5px;
}

input[type=number] {
  border: 1px solid #ddd;
  text-align: center;
  /* -moz-appearance: textfield; */
}

/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

} */

input[type=number]:invalid,
input[type=number]:out-of-range {
  border: 2px solid #ff6347;
}

input[type=range] {
  /* -webkit-appearance: none; */
  width: 90%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2497e3;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2497e3;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

#lower-price::-webkit-slider-thumb,
#lower-stock::-webkit-slider-thumb {
	background-color: #83a9cf;
}