<aside class="filters-block">
    <div class="close-filter-button"></div>    
    <form action="#" class="filters" id="filters">
        <fieldset class="filters__btn-wrapper" form="filters">
            <button class="btn filters__btn" type="reset" id="reset" name="reset">RESET</button>
            <button class="btn filters__btn" id="copy-link">COPY LINK</button>
        </fieldset>
        <fieldset class="sort" form="filters" id="sort">
            <select class="select" name="select" id="select">
                <option value="sort-title" disabled="" selected="" class="sort-name">Sort options:</option>
                <option value="price-ASC">Sort by price ASC</option>
                <option value="price-DESC">Sort by price DESC</option>
                <option value="rating-ASC">Sort by rating ASC</option>
                <option value="rating-DESC">Sort by rating DESC</option>
                <option value="discount-ASC">Sort by discount ASC</option>
                <option value="discount-DESC">Sort by discount DESC</option>
            </select>
            <input class="search" type="search" name="search" id="search" placeholder="Search product">
        </fieldset>
        <fieldset class="display-mode" form="filters" id="display-mode">
            <label class="display-mode__label" for="size-4">Tiles:
                <input class="display-mode__radio" type="radio" name="display-mode" value="4" id="size-4" checked>
            </label>
            <label class="display-mode__label" for="size-6">List:
                <input class="display-mode__radio" type="radio" name="display-mode" value="6" id="size-6">
            </label>
        </fieldset>
        <fieldset class="category" form="filters" id="category">
            <legend class="legend">Category</legend>
        </fieldset>
        <fieldset class="brand" form="filters" id="brand">
            <legend class="legend">Brand</legend>
        </fieldset>
        <fieldset class="range-slider" form="filters" id="price">
            <legend class="legend">Price</legend>
            <input class="limits" type="text" id="min-price">
            <input class="limits" type="text" id="max-price">
            <input value="10"
                    min="10"
                    max="1749"
                    step="1"
                    type="range"
                    name="min-price"
                    id="lower-price"/>
            <input value="1749"
                    min="10"
                    max="1749"
                    step="1"
                    type="range"
                    name="max-price"
                    id="upper-price"/>
        </fieldset>
        <fieldset class="range-slider" form="filters" id="stock">
            <legend class="legend">Stock</legend>
            <input class="limits" type="text" id="min-stock">
            <input class="limits" type="text" id="max-stock">
            <input value="2"
                    min="2"
                    max="149"
                    step="1"
                    type="range"
                    name="min-stock"
                    id="lower-stock"/>
            <input value="149"
                    min="2"
                    max="149"
                    step="1"
                    type="range"
                    name="max-stock"
                    id="upper-stock"/>
        </fieldset>
    </form>
</aside>

<template id="checkboxLine">
    <div class="checkbox-line checkbox-line_active">
        <input class="checkbox-line__input" type="checkbox" id="" value="" name="">
        <label class="checkbox-line__label" for=""></label>
        <span class="checkbox-line__product-quantity"></span>
    </div>
</template>