/* * {outline: 1px dashed red; outline-offset: 1px;} */

.thing {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../../../assets/img/Cart/cart-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs {
    height: 40px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.breadcrumbs__item {
    padding: 0.25rem 1rem;
}

.breadcrumbs__link {
    text-transform: capitalize;
    display: block;
    color: rgb(0, 0, 0);
    transition: all 250ms;
}

.breadcrumbs__link:hover {
    color: rgb(218, 165, 32);
}

@media (max-width: 768px) {

    .breadcrumbs__item {
        padding: 0.25rem;
    }

}

.product__obj {
    
    min-height: calc(100vh - 210px); /* TODO add variables 100px header height, 70px footer height */
}


.object__title {
    font-size: 3rem;
    margin: 1rem 0 0 0;
    text-align: center;
}

.object__about {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 991px) {

    .object__about {
        flex-direction: column;
        align-items: center;
    }

}

.object__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.object__img {
    width: 30vw;
    height: 20vw;
    margin-top: 1rem;
    border-radius: 0.25rem;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 991px) {

    .object__img {
        width: 50vw;
        height: 35vw;
    }

}

@media (max-width: 768px) {

    .object__img {
        width: 70vw;
        height: 50vw;
    }

}

@media (max-width: 576px) {

    .object__img {
        width: 90vw;
        height: 60vw;
    }

}


.controls {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.controls__btn {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.25rem;
    border-radius: 50%;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 250ms;
}

.controls__btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {

    .controls__btn {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
    }

}

.controls__btn_active {
    background-color: rgba(0, 0, 0, 0.4);
}

.object__info {
    width: 30%;
    padding: 2rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(128, 128, 128);
    margin-top: 1rem;
    backdrop-filter: blur(1rem);
    background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 991px) {

    .object__info {
        width: 90%;
    }

}

.object__info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.info-list__item-header {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4);
}

.info-list__item-text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.object__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.object__cost {
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 991px) {

    .object__cost {
        margin-top: 1rem;
    }

}

.object__cart-action  {
    width: 200px;
    padding: 1rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.object__buy-now {
    width: 200px;
    padding: 1rem 1rem;
    margin: 2rem 0;
    cursor: pointer;
}