.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(40px);
    overflow: hidden;
}

.order {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 3rem;
    border: 1px solid rgb(128, 128, 128);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    backdrop-filter: blur(0.5rem);
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    color: rgb(255, 255, 255);
    background: transparent;
    cursor: pointer;
}


.fieldset-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.tooltip {
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgb(175, 175, 175);
}

.tooltip-wrapper {
    width: 50%;
    padding: 0;
}

.input-field {
    height: 2rem;
    border-radius: 0.25rem;
    border: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    outline: none;
    transition: all 100ms;
}

.input-field:focus {
    border: 1px solid rgb(0, 179, 255);
    box-shadow: 0px 0px 3px 2px rgb(0, 179, 255);
}

.input-field_valid {
    border: 1px solid rgb(13, 255, 0);
    box-shadow: 0px 0px 8px 1px rgb(13, 255, 0);
}

.input-field_invalid {
    border: 1px solid rgb(255, 56, 56);
    box-shadow: 0px 0px 8px 1px rgb(255, 56, 56);
}

.personal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1rem;
    border: none;
}

.personal-details__input {
    width: 100%;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1rem;
    border: none;
}

.card-details__input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.card-details__input {
    width: 100%;
    margin-top: 5px;
}

.card-details__input_long {
    width: 100%;
}

.paycard-image {
    height: 150px;
    width: 238px;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128);
    object-fit: cover;
    object-position: center;
}

.order-processed {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(240, 255, 255);
}

.order__submit {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0.25rem;
    margin-top: 1rem;
    cursor: pointer;
}

.buy-now__submit {
    width: fit-content;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background-color: rgba(255, 0, 0, 0.8);
    transition: all 500ms;
}

.buy-now__submit:hover {
    background-color: rgba(94, 255, 0, 0.8);
    color: rgb(0, 0, 0);
}

.element_invisible {
    display: none;
}