<section class="pop-up" id="pop-up">
    <h2 class="order-processed element_invisible" id="order-processed">Thank you for your order.<br>Redirect to store...</h2>
    <form action="#" class="order" id="order">
        <span class="close-button" id="close-button">✖</span>
        <fieldset form="order" class="personal-details" id="personal-details">
            <legend class="fieldset-title">Personal details</legend>
            <label for="" class="tooltip">Two words, no less than three letters each.</label>
            <label class="input-field__wrapper" for="input-name">
                <input class="personal-details__input input-field"
                type="text"
                placeholder="Name"
                name="name"
                id="input-name"
                data-validity="false">
            </label>
            <label for="" class="tooltip">The first character must be «+». At least 9 digits.</label>
            <label class="input-field__wrapper" for="input-tel">
                <input class="personal-details__input input-field"
                    type="text"
                    placeholder="Phone number"
                    name="tel"
                    id="input-tel"
                    data-validity="false">
            </label>
            <label for="" class="tooltip">Three words, no less than five letters each.</label>
            <label class="input-field__wrapper" for="input-address">
                <input class="personal-details__input input-field"
                        type="text"
                        placeholder="Delivery address"
                        name="address"
                        id="input-address"
                        data-validity="false">
            </label>
            <label for="" class="tooltip">Must be «@» and the correct domain name</label>
            <label class="input-field__wrapper" for="input-email">
                <input class="personal-details__input input-field"
                        type="text"
                        placeholder="E-mail"
                        name="email"
                        id="input-email"
                        data-validity="false">
            </label>
        </fieldset>
        <fieldset form="order" class="card-details" id="card-details">
            <legend class="fieldset-title">Credit card details</legend>
            <img class="paycard-image" src="../../../assets/img/Order/default.jpg" id="paycard-image">
            <label for="" class="tooltip">The first digit must be 4, 5 or 6</label>
            <label class="input-field__wrapper" for="input-card-number">
                <input class="card-details__input card-details__input_long input-field"
                    type="text"
                    placeholder="Card number"
                    name="card-number"
                    id="input-card-number"
                    maxlength="19"
                    data-validity="false">
            </label>
            <label for="" class="tooltip">Month 01-12 / Year 23-29</label>
                <label class="input-field__wrapper" for="input-valid-thru">
                    <input class="card-details__input input-field"
                    type="text"
                    placeholder="Valid thru"
                    name="valid-thru"
                    id="input-valid-thru"
                    maxlength="5"
                    data-validity="false">
                </label>
            <label for="" class="tooltip">Three digits</label>
            <label class="input-field__wrapper" for="input-cvv-code">
                <input class="card-details__input input-field"
                type="text"
                placeholder="CVV code"
                name="cvv-code"
                id="input-cvv-code"
                maxlength="3"
                data-validity="false">
            </label>
        </fieldset>
        <button type="submit" class="order__submit btn" id="order-submit">CONFIRM</button>
    </form>
</section>