<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="cart">

    <div class="cart__content content">
        <!-- Place for content of paginationTemplate -->
        <div class="content__container">
            <!-- Place for content of cartItemTemplate -->
        </div>
    </div>
    <!-- Place for content of cartBuyNowTemplate -->

    <template id="paginationTemplate">
        <div class="content__pagination pagination box-shadow">
            <h2 class="pagination__title text-shadow">Products In Cart</h2>
            <div class="pagination__controls">
                <label class="pagination__items-limit" for="pagination-limit-input">Items on page:</label>
                <input class="pagination__limit-input" type="text" value="0" id="pagination-limit-input">
                <span class="pagination__page-word">Page:</span>
                <div class="pagination__page-number">
                    <button class="pagination__page-prev btn">◄</button>
                    <span class="pagination__page-current" id="pagination-page-current">0</span>
                    <button class="pagination__page-next btn">►</button>
                </div>
            </div>
        </div>
    </template>

    <template id="cartItemTemplate">
        <article class="cart-item box-shadow">
            <span class="cart-item__number">0</span>
            <figure class="cart-item__info product">
                <img class="product__img" alt="iPhone X" src="https://i.dummyjson.com/data/products/2/thumbnail.jpg">
                <figcaption class="product__desc">
                    <h3 class="product__desc-title">iPhone X</h3>
                    <hr class="product__separator">
                    <p class="product__desc-text">SIM-Free, Model A19211 6.5-inch Super Retina HD display with OLED technology A12 Bionic chip with ... </p>
                    <p class="product__desc-other">
                        <span class="product__desc-rating">Rating: 0.00</span>
                        <span class="product__desc-discount">Discount: 00.00%</span>
                    </p>
                </figcaption>
            </figure>
            <div class="cart-item__controls">
                <span class="cart-item__stock">Stock: 0</span>
                <div class="cart-item__btns">
                    <button class="cart-item__decrease-btn btn">-</button>
                    <span class="cart-item__quantity">0</span>
                    <button class="cart-item__increase-btn btn">+</button>
                </div>
                <span class="cart-item__amount-control">€00.00</span>
            </div>
        </article>
    </template>

    <template id="cartBuyNowTemplate">
        <aside class="cart__buy-now buy-now box-shadow">
            <h2 class="buy-now__title text-shadow">Summary</h2>
            <hr class="buy-now__separator">
            <div class="buy-now__products">
                <span class="buy-now__products-text">Products: </span>0
            </div>
            <div class="buy-now__total">
                <span class="buy-now__total-text">Total: </span>€0
            </div>
            <div class="buy-now__promo-code">
                <input type="search" placeholder="Enter promo code" class="buy-now__input-promo" id="buy-now-input-code"><br>
                <label for="buy-now-input-code">Promo for test: 'RS', 'EPM'</label>
            </div>
            <button class="buy-now__submit btn box-shadow">BUY NOW</button>
        </aside>
    </template>

</section>

<form action="#" class="order" id="order">
        <fieldset form="order" class="personal-details">
            <legend>Personal details</legend>
            <input class="personal-details__input"
                    type="text" placeholder="Name"
                    name="name"
                    pattern="^([А-ЯЁа-яёA-Za-z]{3,25} [А-ЯЁа-яёA-Za-z]{3,25})$"
                    id="input-name">
            <input class="personal-details__input"
                    type="tel" placeholder="Phone number"
                    name="tel"
                    pattern="^\+{1}\d{9,15}$"
                    id="input-tel">
            <input class="personal-details__input"
                    type="text"
                    placeholder="Delivery address"
                    name="address"
                    pattern="^([А-ЯЁа-яёA-Za-z]{5,25} [А-ЯЁа-яёA-Za-z]{5,25} [А-ЯЁа-яёA-Za-z]{5,25})$ "
                    id="input-address">
            <input class="personal-details__input"
                    type="email"
                    placeholder="E-mail"
                    name="email"
                    pattern="^[A-Z0-9._%+-]+@[A-Z0-9-]+.+.[A-Z]{2,4}$"
                    id="input-email">
        </fieldset>
        <fieldset form="order" class="card-details">
            <legend>Credit card details</legend>
            <input class="card-details__input card-details__input_long"
                    type="text"
                    placeholder="Card number"
                    name="card-number"
                    pattern="^[A-Z0-9._%+-]+@[A-Z0-9-]+.+.[A-Z]{2,4}$"
                    id="input-card-number">
            <div class="card-details__input-wrapper">
                <input class="card-details__input"
                        type="text"
                        placeholder="Valid thru"
                        name="valid-thru"
                        id="input-valid-thru">
                <input class="card-details__input"
                        type="number"
                        placeholder="CVV code"
                        name="cvv-code"
                        id="input-cvv-code">>
            </div>
        </fieldset>
        <button type="submit" class="order__submit">Confirm</button>
    </form>

</body>
</html>
