.thing {
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.breadcrumbs__item {
    padding: 0.25rem 1rem;
}

.breadcrumbs__link {
    display: block;
}

.product__obj {
}

.object {
}

.object__title {
    text-align: center;
}

.object__about {
    display: flex;
    justify-content: space-evenly;
}

.object__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.object__img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.object__images-controls {
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.controls__btn {
    width: 2rem;
    height: 0.5rem;
    margin: 0.25rem;
    border-radius: 5px;
    cursor: pointer;
}

.object__info {
    width: 30%;
}

.object__info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.info-list {
}

.info-list__item {
}

.info-list__item-header {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.6);
}

.info-list__item-text {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

.object__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.object__cost {
    font-size: 2rem;
    text-align: center;
}

.object__drop-from-cart,
.object__add-to-cart {
    width: 150px;
    height: 40px;
    margin-top: 1rem;
    cursor: pointer;
}

.object__buy-now {
    width: 150px;
    height: 40px;
    margin-top: 1rem;
    cursor: pointer;
}