<section class="thing">
  <ul class="breadcrumbs" id="breadcrumbs">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" id="breadcrumb-link-store">Store</a></li>
      <li class="breadcrumbs__item">/</li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" id="breadcrumb-link-category">Category</a></li>
      <li class="breadcrumbs__item">/</li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" id="breadcrumb-link-brand">Brand</a></li>
      <li class="breadcrumbs__item">/</li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#" id="breadcrumb-link-product">Product</a></li>
  </ul>
  <div class="product__obj object" id="product-id">
      <h1 class="object__title" id="product-title">Product name</h1>
      <div class="object__about">

          <div class="object__images">
              <img class="object__img" src="https://i.dummyjson.com/data/products/98/thumbnail.jpg" alt="alt"  id="product-image">
              <div class="object__images-controls controls" id="product-images-buttons">
              </div>
          </div>

          <div class="object__info">
              <ul class="object__info-list info-list">
                  <li class="info-list__item">
                      <h3 class="info-list__item-header">Description:</h3>
                      <p class="info-list__item-text" id="product-description">Text</p>
                  </li>
                  <li class="info-list__item">
                      <h3 class="info-list__item-header">Discount Percentage:</h3>
                      <p class="info-list__item-text" id="product-discount">00.00%</p>
                  </li>
                  <li class="info-list__item">
                      <h3 class="info-list__item-header">Rating:</h3>
                      <p class="info-list__item-text" id="product-rating">0.00</p>
                  </li>
                  <li class="info-list__item">
                      <h3 class="info-list__item-header">Stock:</h3>
                      <p class="info-list__item-text" id="product-stock">00</p>
                  </li>
                  <li class="info-list__item">
                      <h3 class="info-list__item-header">Brand:</h3>
                      <p class="info-list__item-text" id="product-brand">Text</p>
                  </li>
                  <li class="info-list__item">
                      <h3 class="info-list__item-header">Category:</h3>
                      <p class="info-list__item-text" id="product-category">Text</p>
                  </li>
              </ul>
          </div>

          <div class="object__buttons">
              <span class="object__cost" id="cart-cost">€000.00</span>
              <!-- <button class="object__drop-from-cart object__elem_invisible">Drop from cart</button> -->
              <button class="object__add-to-cart">ADD TO CART</button>
              <button class="object__buy-now">Buy now</button>
          </div>

      </div>
  </div>
</section>