<section class="product">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Store</a></li>
        <li class="breadcrumbs__item">/</li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Category</a></li>
        <li class="breadcrumbs__item">/</li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Brand</a></li>
        <li class="breadcrumbs__item">/</li>
        <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Product</a></li>
    </ul>
    <div class="product__obj object">
        <h1 class="object__title">Product name</h1>
        <div class="object__about">

            <div class="object__images">
                <img class="object__img" src="https://i.dummyjson.com/data/products/98/thumbnail.jpg" alt="">
                <div class="object__images-controls controls">
                    <button class="controls__btn"></button>
                    <button class="controls__btn"></button>
                    <button class="controls__btn"></button>
                </div>
            </div>

            <div class="object__info">
                <ul class="object__info-list info-list">
                    <li class="info-list__item">
                        <h3 class="info-list__item-header">Description:</h3>
                        <p class="info-list__item-text">Text</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__item-header">Discount Percentage:</h3>
                        <p class="info-list__item-text">00.00%</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__item-header">Rating:</h3>
                        <p class="info-list__item-text">0.00</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__item-header">Stock:</h3>
                        <p class="info-list__item-text">00</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__item-header">Brand:</h3>
                        <p class="info-list__item-text">Text</p>
                    </li>
                    <li class="info-list__item">
                        <h3 class="info-list__item-header">Category:</h3>
                        <p class="info-list__item-text">Text</p>
                    </li>
                </ul>
            </div>

            <div class="object__buttons">
                <span class="object__cost">€000.00</span>
                <button class="object__drop-from-cart">Add to cart</button>
                <button class="object__buy-now">Buy now</button>
            </div>

        </div>
    </div>
</section>
