<section class="pop-up pop-up_invisivle"><!-- Remove class pop-up_invisivle for visibility -->
    <form action="#" class="order" id="order">
        <fieldset form="order" class="personal-details">
            <legend>Personal details</legend>
            <input class="personal-details__input" type="text" placeholder="Name" name="name" id="input-name">
            <input class="personal-details__input" type="tel" placeholder="Phone number" name="tel" id="input-tel">
            <input class="personal-details__input" type="text" placeholder="Delivery address" name="address" id="input-address">
            <input class="personal-details__input" type="email" placeholder="E-mail" name="email" id="input-email">
        </fieldset>
        <fieldset form="order" class="card-details">
            <legend>Credit card details</legend>
            <input class="card-details__input card-details__input_long"
                    type="text"
                    placeholder="Card number"
                    name="card-number"
                    id="input-card-number">
            <div class="card-details__input-wrapper">
                <input class="card-details__input"
                        type="text"
                        placeholder="Valid thru"
                        name="valid-thru"
                        id="input-valid-thru">
                <input class="card-details__input"
                        type="number"
                        placeholder="CVV code"
                        name="cvv-code"
                        id="input-cvv-code">>
            </div>
        </fieldset>
        <button type="submit" class="order__submit">Confirm</button>
    </form>
</section>
