<section class="pop-up element_invisible" id="pop-up">
    <h2 class="order-processed element_invisible" id="order-processed">Thank you for your order. Redirect to store...</h2>
    <form action="#" class="order" id="order">
        <fieldset form="order" class="personal-details" id="personal-details">
            <legend class="fieldset-title">Personal details</legend>
            <input class="personal-details__input input-field"
                    type="text"
                    placeholder="Name"
                    name="name"
                    id="input-name"
                    data-validity="false">
            <input class="personal-details__input input-field"
                    type="text"
                    placeholder="Phone number"
                    name="tel"
                    id="input-tel"
                    data-validity="false">
            <input class="personal-details__input input-field"
                    type="text"
                    placeholder="Delivery address"
                    name="address"
                    id="input-address"
                    data-validity="false">
            <input class="personal-details__input input-field"
                    type="text"
                    placeholder="E-mail"
                    name="email"
                    id="input-email"
                    data-validity="false">
        </fieldset>
        <fieldset form="order" class="card-details" id="card-details">
            <legend class="fieldset-title">Credit card details</legend>
            <input class="card-details__input card-details__input_long input-field"
                    type="text"
                    placeholder="Card number"
                    name="card-number"
                    id="input-card-number"
                    maxlength="19"
                    data-validity="false">
            <div class="card-details__input-wrapper">
                <input class="card-details__input input-field"
                        type="text"
                        placeholder="Valid thru"
                        name="valid-thru"
                        id="input-valid-thru"
                        maxlength="5"
                        data-validity="false">
                <input class="card-details__input input-field"
                        type="text"
                        placeholder="CVV code"
                        name="cvv-code"
                        id="input-cvv-code"
                        maxlength="3"
                        data-validity="false">
            </div>
        </fieldset>
        <button type="submit" class="order__submit" id="order-submit">CONFIRM</button>
    </form>
</section>