<aside class="filters-block">
    <form action="#" class="filters" id="filters">
        <div class="filters__btn-wrapper">
            <button class="btn filters__btn" type="reset" id="reset" name="reset">RESET</button>
            <button class="btn filters__btn" id="copy-link">COPY LINK</button>
        </div>
        <fieldset class="category" form="filters" id="category">
            <legend class="legend">Category</legend>
        </fieldset>
        <fieldset class="brand" form="filters" id="brand">
            <legend class="legend">Brand</legend>
        </fieldset>
        <fieldset class="price" form="filters" id="price">
            <legend class="legend">Price</legend>
            <input class="limits" type="number" name="min-price" id="min-price" placeholder="From">
            <input class="limits" type="number" name="max-price" id="max-price"  placeholder="To">
        </fieldset>
        <fieldset class="stock" form="filters" id="stock">
            <legend class="legend">Stock</legend>
            <input class="limits" type="number" name="min-stock" id="min-stock" placeholder="From">
            <input class="limits" type="number" name="max-stock" id="max-stock"  placeholder="To">
        </fieldset>
    </form>
</aside>

<template id="checkboxLine">
    <div class="checkbox-line checkbox-line_active">
        <input class="checkbox-line__input" type="checkbox" id="" value="" name="">
        <label class="checkbox-line__label" for=""></label>
        <span class="checkbox-line__product-quantity"></span>
    </div>
</template>