<aside class="filters-block">
    <button type="reset" form="filters">RESET</button>
    <button id="copy-link">COPY LINK</button>
    <form class="filters" action="#" id="filters">
        <fieldset class="sort" form="filters">
            <input class="search" type="search" name="search" id="search" placeholder="Search product">
            <select class="" name="select">
                <option value="sort-title" disabled="" selected="" class="sort-name">Sort options:</option>
                <option value="price-ASC">Sort by price ASC</option>
                <option value="price-DESC">Sort by price DESC</option>
                <option value="rating-ASC">Sort by rating ASC</option>
                <option value="rating-DESC">Sort by rating DESC</option>
                <option value="discount-ASC">Sort by discount ASC</option>
                <option value="discount-DESC">Sort by discount DESC</option>
            </select>
        </fieldset>
        <fieldset class="category" form="filters" name="category">
            <legend>Category</legend>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="smartphones" value="smartphones" name="category">
                <label for="smartphones">smartphones</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="laptops" value="laptops" name="category">
                <label for="laptops">laptops</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="fragrances" value="fragrances" name="category">
                <label for="fragrances">fragrances</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="skincare" value="skincare" name="category">
                <label for="skincare">skincare</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="groceries" value="groceries" name="category">
                <label for="groceries">groceries</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="home-decoration" value="home-decoration" name="category">
                <label for="home-decoration">home-decoration</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="furniture" value="furniture" name="category">
                <label for="furniture">furniture</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="tops" value="tops" name="category">
                <label for="tops">tops</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="womens-dresses" value="womens-dresses" name="category">
                <label for="womens-dresses">womens-dresses</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="womens-shoes" value="womens-shoes" name="category">
                <label for="womens-shoes">womens-shoes</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="mens-shirts" value="mens-shirts" name="category">
                <label for="mens-shirts">mens-shirts</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="mens-shoes" value="mens-shoes" name="category">
                <label for="mens-shoes">mens-shoes</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="mens-watches" value="mens-watches" name="category">
                <label for="mens-watches">mens-watches</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="womens-watches" value="womens-watches" name="category">
                <label for="womens-watches">womens-watches</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="womens-bags" value="womens-bags" name="category">
                <label for="womens-bags">womens-bags</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="womens-jewellery" value="womens-jewellery" name="category">
                <label for="womens-jewellery">womens-jewellery</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="sunglasses" value="sunglasses" name="category">
                <label for="sunglasses">sunglasses</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="automotive" value="automotive" name="category">
                <label for="automotive">automotive</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="motorcycle" value="motorcycle" name="category">
                <label for="motorcycle">motorcycle</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="lighting" value="lighting" name="category">
                <label for="lighting">lighting</label>
                <span></span>
            </div>
        </fieldset>
        <fieldset class="brand" form="filters" name="brand">
            <legend>Brand</legend>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Apple" value="Apple" name="brand">
                <label for="Apple">Apple</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Samsung" value="Samsung" name="brand">
                <label for="Samsung">Samsung</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="OPPO" value="OPPO" name="brand">
                <label for="OPPO">OPPO</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Huawei" value="Huawei" name="brand">
                <label for="Huawei">Huawei</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Microsoft Surface" value="Microsoft Surface" name="brand">
                <label for="Microsoft Surface">Microsoft Surface</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Infinix" value="Infinix" name="brand">
                <label for="Infinix">Infinix</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="HP Pavilion" value="HP Pavilion" name="brand">
                <label for="HP Pavilion">HP Pavilion</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Impression of Acqua Di Gio" value="Impression of Acqua Di Gio" name="brand">
                <label for="Impression of Acqua Di Gio">Impression of Acqua Di Gio</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Royal_Mirage" value="Royal_Mirage" name="brand">
                <label for="Royal_Mirage">Royal_Mirage</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Fog Scent Xpressio" value="Fog Scent Xpressio" name="brand">
                <label for="Fog Scent Xpressio">Fog Scent Xpressio</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Al Munakh" value="Al Munakh" name="brand">
                <label for="Al Munakh">Al Munakh</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Lord - Al-Rehab" value="Lord - Al-Rehab" name="brand">
                <label for="Lord - Al-Rehab">Lord - Al-Rehab</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="L'Oreal Paris" value="L'Oreal Paris" name="brand">
                <label for="L'Oreal Paris">L'Oreal Paris</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Hemani Tea" value="Hemani Tea" name="brand">
                <label for="Hemani Tea">Hemani Tea</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Dermive" value="Dermive" name="brand">
                <label for="Dermive">Dermive</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="ROREC White Rice" value="ROREC White Rice" name="brand">
                <label for="ROREC White Rice">ROREC White Rice</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Fair & Clear" value="Fair & Clear" name="brand">
                <label for="Fair & Clear">Fair & Clear</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Saaf & Khaas" value="Saaf & Khaas" name="brand">
                <label for="Saaf & Khaas">Saaf & Khaas</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Bake Parlor Big" value="Bake Parlor Big" name="brand">
                <label for="Bake Parlor Big">Bake Parlor Big</label>
                <span></span>
            </div>
            <div class="checkbox-line checkbox-active">
                <input type="checkbox" id="Baking Food Items" value="Baking Food Items" name="brand">
                <label for="Baking Food Items">Baking Food Items</label>
                <span></span>
            </div>
        </fieldset>
        <fieldset class="price" form="filters" name="price">
            <legend>Price</legend>
            <input class="limits" type="number" name="price" id="min-price" placeholder="From">
            <input class="limits" type="number" name="price" id="max-price"  placeholder="To">
        </fieldset>
        <fieldset class="stock" form="filters" name="stock">
            <legend>Stock</legend>
            <input class="limits" type="number" name="stock" id="min-stock" placeholder="From">
            <input class="limits" type="number" name="stock" id="max-stock"  placeholder="To">
        </fieldset>
    </form>
</aside>