.filters-block {
    width: 400px;
    position: relative;
}
.close-filter-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../assets/img/Header/close_burger_menu.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
}
.filters {
    width: 100%;
}
.filter {
  position: sticky;
  top: 0;
  height: 100%;
}
.filter-show {
  left:0 !important;
}
@media (max-width: 900px) {
  .filter {
    position: fixed;
    left: -800px;
    z-index: 10;
    background-color: #fff;
    transition: left 1s;
  }
  .close-filter-button {
    display: block;
  }
}

.category {
    display: block;
    width: 90%;
    height: 30vh;
    overflow-y: scroll;
}

.brand {
    height: 30vh;
    width: 90%;
    overflow-y: scroll;
}

.price {
    display: flex;
    width: 90%;
}

.stock {
    display: flex;
    width: 90%;
}

.limits {
    width: 45%;
}


.checkbox-line__label {
    cursor: pointer;
}
