.filters-block {
    width: 400px;
}

.filters {
    width: 100%;
}
.filter {
  position: sticky;
  top: 0;
  height: 100vh;
}
.filter-show {
  left:0 !important;
}
@media (max-width: 900px) {
  .filter {
    position: fixed;
    top: 0;
    left: -800px;
    z-index: 10;
    background-color: #fff;
    transition: left 1s;
  }
}
.sort {
}

.category {
    display: block;
    width: 90%;
    height: 30vh;
    overflow-y: scroll;
}

.brand {
    height: 30vh;
    width: 90%;
    overflow-y: scroll;
}

.price {
    display: flex;
    width: 90%;
}

.stock {
    display: flex;
    width: 90%;
}

.limits {
    width: 45%;
}

.checkbox-line {
}

.checkbox-line_active {
}

.checkbox-line__input {
}

.checkbox-line__label {
    cursor: pointer;
}

.checkbox-line__product-quantity {
}