.store {
    display: flex;
    width: 100%;
}

.goods {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.goods__header {
    display: flex;
    justify-content: space-around;
}

.goods__output {
    display: flex;
    flex-wrap: wrap;
}

/*
.########..########...#######..########..##.....##..######..########.........####.########.########.##.....##
.##.....##.##.....##.##.....##.##.....##.##.....##.##....##....##.............##.....##....##.......###...###
.##.....##.##.....##.##.....##.##.....##.##.....##.##..........##.............##.....##....##.......####.####
.########..########..##.....##.##.....##.##.....##.##..........##....#######..##.....##....######...##.###.##
.##........##...##...##.....##.##.....##.##.....##.##..........##.............##.....##....##.......##.....##
.##........##....##..##.....##.##.....##.##.....##.##....##....##.............##.....##....##.......##.....##
.##........##.....##..#######..########...#######...######.....##............####....##....########.##.....##
*/

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    width: 15vw;
    min-height: 200px;
    height: 15vw;
    margin: 1rem;
}

.product-item__desc {
}

.product-item__title {
    margin: 0;
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
}

.product-item__info {
    width: 60%;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    color: rgb(255, 255, 255);
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.info {
}

.info__row {
    padding: 0.25rem;
}

.product-item__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
}