<section class="store">

    <!-- place for filters-block -->

    <div class="goods">
        <div class="goods__header">
            <output class="found">Found: <span class="found__value">0</span></output>
            <form class="size" action="#" id="size">
                <label for="size-4">row 4: </label>
                <input type="radio" name="size" value="4" id="size-4" checked>
                <label for="size-6">row 6: </label>
                <input type="radio" name="size" value="6" id="size-6">
            </form>
        </div>
        <div class="goods__output">
        </div>
    </div>

</section>