<section class="store">

    <div class="burger-menu">
        <img class="burger-menu__img">
    </div>
    <div class="popup-bg" id="popup-bg"></div>
    <!-- place for filters-block -->
    <section class="filter"></section>

    <section class="goods">
        <div class="goods__header">
            <!-- <fieldset class="sort" form="filters" id="sort">
                <select class="select" name="select" id="select">
                    <option value="sort-title" disabled="" selected="" class="sort-name">Sort options:</option>
                    <option value="price-ASC">Sort by price ASC</option>
                    <option value="price-DESC">Sort by price DESC</option>
                    <option value="rating-ASC">Sort by rating ASC</option>
                    <option value="rating-DESC">Sort by rating DESC</option>
                    <option value="discount-ASC">Sort by discount ASC</option>
                    <option value="discount-DESC">Sort by discount DESC</option>
                </select>
                <input class="search" type="text" name="search" id="search" placeholder="Search product">
            </fieldset> -->
            <output class="found">Found: <span class="found__value">0</span></output>
            <!-- <fieldset class="display-mode" form="filters" id="display-mode">
                <label for="size-4">col 4: </label>
                <input type="radio" name="display-mode" value="4" id="size-4" checked>
                <label for="size-6">col 6: </label>
                <input type="radio" name="display-mode" value="6" id="size-6">
            </fieldset> -->
        </div>
        <div class="goods__output"></div>
    </section>

    <template id="productItemTemp">
        <article class="product-item" loading="lazy"> <!-- background: url(&quot;https://i.dummyjson.com/data/products/98/thumbnail.jpg&quot;) 0% 0% / cover; -->
            <div class="product-item__desc">
                <h3 class="product-item__title">Product Name</h3>
                <ul class="product-item__info info">
                    <li class="info__row">Category:<span class="info__row info__row-category">Category name</span></li>
                    <li class="info__row">Brand:<span class="info__row info__row-brand">Brand name</span></li>
                    <li class="info__row" >Price:<span class="info__row info__row-price">€00.00</span></li>
                    <li class="info__row">Discount:<span class="info__row info__row-discount">0.00%</span></li>
                    <li class="info__row">Rating:<span class="info__row info__row-rating">0.00</span></li>
                    <li class="info__row">Stock:<span class="info__row info__row-stock">00</span></li>
                </ul>
            </div>
            <div class="product-item__buttons">
                <button class="button-add">ADD TO CART</button>
                <button class="button-details">DETAILS</button>
            </div>
        </article>
    </template>
</section>
