/* Error page styles */

.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: inherit;
    background-image: url(../../../assets/img/Error/error-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-404__content {
    display: block;
    height: fit-content;
    width: 50%;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    backdrop-filter: blur(0.5rem);
}

@media screen and (max-width: 768px) {

    .page-404__content {
        width: 80%;
    }

}

.page-404__title {
    font-size: 5rem;
    text-align: center;
    color: rgb(255, 255, 255); /* TODO add variable */
}

@media screen and (max-width: 768px) {

    .page-404__title {
        margin: 0.5em 0;
    }

}

.page-404__desc {
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 255, 255); /* TODO add variable */
}

.page-404__link {
    display: block;
    height: fit-content;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    margin: auto;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255); /* TODO add variable */
    transition: all 300ms ease-in-out;
}

.page-404__link:hover {
    color: rgb(245, 200, 70); /* TODO add variable */
}